@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    font-family: 'Patrick Hand', cursive;  
}

canvas{
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}